.banner{
    background: linear-gradient(178.71deg, rgba(1, 1, 2, 0) 37.52%, rgba(1, 1, 2, 0.405) 95.35%), url(../img/banner/bg.png);
    text-align: start;
    padding: 147px 0 166px;
}
.banner-title{
    font-size: 72px;
    line-height: 1.3;
}
.banner-subtitle{
    padding-bottom: 64px;
}
.btn-primary{
    padding: 24px 40px;
}