.cards{
    display: flex;
    padding: 140px 0;
    text-align: start;
    gap: 36px;
}
.card{
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
}
.card-title{
    margin: 0 0 24px 0;
}
.card-accent{
    color: $color-accent;
    margin-right: 12px;
}