.coffee_machine{
    margin-bottom: 140px;
    background-color: $color-fon;
    display: flex;
}
.coffee_machine-img{
    padding: 85px 165px;
}
.coffee_machine-content{
    text-align: start;
}
.coffee_machine-title{
    padding: 72px 114px 36px 0;
}
.coffee_machine-text{
    padding-right: 80px;
    padding-bottom: 36px;
}