.menu{
    padding-bottom: 140px;
}
.menu-wrap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:40px;
}
.menu-card,.menu-card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-card{
    padding: 24px;
    border: 1px solid $color-border;
}
.menu_left,.menu_right{
    display: grid;
    gap: 36px;
}
.menu-card-title{
    margin-left: 20px;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
}
.menu-price{
    color: $color-accent;
    font-family: $font-main;
    font-weight: 600;
    font-size: 18px;
}