//Font
$font-main: 'Urbanist', sans-serif;
$font-secondary:'Righteous', cursive;
$font-navigation:'Inter', sans-serif;
//color
$color-main:rgba(20, 17, 14, 1);
$color-accent: rgba(201, 158, 113, 1);
$color-btn: rgb(168, 133, 96);
$color-fon: rgba(28, 24, 20, 1);
$color-product:#121315;
$color-white:#fff;
$color-border: #32323D;
$color-star: #FAA61A;
